@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

/*
Primary Color  : #2a2d30;
Secondary Color : #363636
Effects Color : #e74315;
Accent Color : #999;
*/

/*Default CSS Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #999;
}
/*End's Here*/

/*Hero Section Styling*/
.header {
  background-image: linear-gradient(
      to right,
      rgb(42, 45, 48, 0.7),
      rgb(54, 54, 54, 0.7)
    ),
    url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); */
}
/*End's Here*/

/*Navigation Section Styling*/
nav {
  width: 100%;
  height: 5rem;
  padding: 0.8rem 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.navigation--logo {
  color: #ccc;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navigation--menu img {
  height: 3.5rem;
  transition: all 0.5s ease;
}

.navigation--menu img:hover {
  transform: scale(1.3);
}
/*End's Here*/

/*About Section*/
.about_section {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 5rem;
  align-items: center;
  height: 75vh;
  max-width: 1140px;
  margin: auto;
}

.section__header--main {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.section__header--sub {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.section__header--btn {
  background-color: #e74315;
  color: #ccc;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  margin: 2rem 0 0 0;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
}

.section__header--btn:hover {
  transform: translateY(-3px) scale(1.03);
}

.section__header--btn:active {
  outline: none;
  transform: translateZ(-3px);
}

.section__form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  height: 19rem;
  width: 23rem;
  padding: 1rem;
}

.section__form--fields {
  width: 100%;
  display: block;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  color: #363636;
  font-size: 1rem;
  font-weight: 900;
}

.section__form--fields:active {
  outline: none;
  border: 2px solid #e74315;
}

.section__form--fields:focus {
  outline: none;
  border: 2px solid #e74315;
}

.section__form--btn {
  background-color: #e74315;
  color: #ccc;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  margin: 0.6rem 0 0 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
}
.section__form--btn:hover {
  transform: translateY(-3px) scale(1.03);
}

.section__form--btn:active {
  outline: none;
  transform: translateZ(-3px);
}
/*End's Here*/

/*Media Query*/
@media screen and (max-width: 25rem) and (min-width: 0) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;
  }

  .about_section--left {
    width: 100%;
  }

  .section__header--main {
    font-size: 2rem;
  }

  .section__header--sub {
    font-size: 1rem;
  }
}

@media screen and (max-width: 43.75rem) and (min-width: 25.1rem) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;
  }

  .about_section--left {
    width: 100%;
  }

  .section__header--main {
    font-size: 2rem;
  }

  .section__header--sub {
    font-size: 1rem;
  }
}

/*End's Here*/

/*Animation  Section*/
@keyframes menuAnimation {
  0% {
    transform: rotate(0) scale(1) translateX(50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateX(0);
  }
}

.fromRight {
  animation: menuAnimation 1.5s forwards 0s linear;
}

@keyframes logoAnimation {
  0% {
    transform: rotate(0) scale(1) translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateX(0);
  }
}

.fromLeft {
  animation: logoAnimation 1.5s forwards 0s linear;
}

@keyframes about_section--left {
  0% {
    transform: rotate(0) scale(1) translateY(-100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromTop {
  animation: about_section--left 1.5s forwards 0s linear;
}

@keyframes about_section--right {
  0% {
    transform: rotate(0) scale(1) translateY(100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromBottom {
  animation: about_section--right 1.5s forwards 0s linear;
}
/*End's Here*/
