@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
/*Default CSS Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif; }

html,
body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

img {
  vertical-align: middle !important; }

._gap {
  border: 0.5px solid #696969 !important; }

.pd {
  padding: 2.5rem 0; }

.margin {
  margin: 0 1rem; }

.pageWrapper {
  max-width: 71.25rem;
  margin: auto; }

.pageWrapperInner {
  max-width: 80rem;
  margin: auto; }

.section_span {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1.02rem;
  font-weight: 600;
  color: #fa9f42; }

.secondary_icons {
  font-size: 0.8rem;
  padding-right: 0.2rem; }

.carousel_details {
  position: relative; }
  .carousel_details .carousel_img {
    height: 20rem;
    width: 13.5rem;
    object-fit: cover;
    border-radius: 0.3rem; }
  .carousel_details .carousel_info {
    position: absolute;
    bottom: 0;
    padding-top: 2rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 5%, black 100%) !important;
    height: 6.5rem !important;
    width: 13.5rem !important;
    border-radius: 0.3rem; }
    .carousel_details .carousel_info h1 {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 300; }

label {
  margin: 0 !important; }

.section_header {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f3533a !important; }

.social_icons {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 100px;
  transition: background-color 0.5s ease; }
  .social_icons:hover {
    background-color: #8ad879;
    color: #fff; }

hr {
  border: 0.5px solid #696969; }

/*End's Here*/
/*Hero Section Styling*/
.header {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /*  &::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  } */ }

/*End's Here*/
/*Navigation Section Styling*/
nav {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 0;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1); */ }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto; }
  .navigation .navigation--logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 0;
    padding: 0; }
  .navigation .navigation--list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
    .navigation .navigation--list li {
      margin: 0;
      padding: 0;
      text-decoration: none;
      padding: 0 1rem;
      list-style: none;
      position: relative; }
      .navigation .navigation--list li a {
        font-size: 1.1rem;
        color: #fff;
        margin: 0;
        padding: 0;
        text-decoration: none; }
        .navigation .navigation--list li a::after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 4px;
          left: 50%;
          top: 3rem;
          position: absolute;
          background: #f3533a;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0; }
        .navigation .navigation--list li a:hover::after {
          width: 100%;
          left: 0; }

/*End's Here*/
/*Booking Navigation*/
.navigation__bookings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto; }
  .navigation__bookings .navigation--logo {
    color: #f3533a;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 0;
    padding: 0; }
  .navigation__bookings .navigation--list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; }
    .navigation__bookings .navigation--list li {
      margin: 0;
      padding: 0;
      text-decoration: none;
      padding: 0 1rem;
      list-style: none;
      position: relative; }
      .navigation__bookings .navigation--list li a {
        font-size: 1rem;
        color: #fff;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-decoration: none; }
        .navigation__bookings .navigation--list li a::after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 4px;
          left: 50%;
          top: 3rem;
          position: absolute;
          background: #fa9f42;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0; }
        .navigation__bookings .navigation--list li a:hover::after {
          width: 100%;
          left: 0; }

/*About Section*/
.about_section {
  display: grid;
  grid-template-columns: auto;
  justify-items: flex-start;
  align-items: center; }
  .about_section .section__header--main {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0; }
  .about_section .section__header--sub {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0; }
  .about_section .section__header--btn {
    background-color: #8ad879;
    color: #f5f6f7;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin: 2rem 0 0 0;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden; }
  .about_section .section__header--btn:hover {
    transform: translateY(-3px) scale(1.03); }
  .about_section .section__header--btn:active {
    outline: none;
    transform: translateZ(-3px); }
  .about_section .section__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    height: auto;
    width: 30rem;
    padding: 1.5rem; }
    .about_section .section__form label {
      color: #696969;
      text-transform: unset; }
  .about_section .section__form--fields {
    width: 100%;
    display: block;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: 1px solid #fa9f42;
    color: #696969;
    font-size: 1rem;
    font-weight: 900; }
    .about_section .section__form--fields::placeholder {
      color: #696969; }
  .about_section .section__form--fields:active {
    outline: none;
    border: 1px solid #f3533a; }
  .about_section .section__form--fields:focus {
    outline: none;
    border: 1px solid #f3533a; }
  .about_section .section__form--btn {
    background-color: #8ad879;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-radius: 0.3rem;
    margin: 0.6rem 0 0 0;
    padding: 0.7rem 0;
    width: 100%;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden; }
  .about_section .section__form--btn:active {
    outline: none;
    transform: translateZ(-3px); }
  .about_section .section__form--header {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-bottom: 0.8rem !important;
    color: #f3533a; }
  .about_section .section__form--guest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    width: 100%; }

/*End's Here*/
/*Explore Section*/
.explore_section .explore_section--inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%; }

.explore_section .explore_section--innerWrap {
  margin: 1rem 0 0 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: 7.5rem 1fr;
  grid-gap: 0;
  align-items: center;
  transition: all 0.5s ease-in;
  cursor: pointer; }
  .explore_section .explore_section--innerWrap:hover {
    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px !important; }
  .explore_section .explore_section--innerWrap .explore_img {
    height: 5rem;
    width: auto;
    object-fit: fill;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
  .explore_section .explore_section--innerWrap .innerHeader {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding: 1rem;
    color: #f3533a !important; }
    .explore_section .explore_section--innerWrap .innerHeader span {
      color: #fa9f42 !important; }

/*End's Here*/
/*Recommended Section*/
.recommended_section .recommended_section--inner {
  margin: 1rem 0 0 0; }

/*End's Here*/
/*Luxury Section*/
.luxury_section .luxury_section--inner {
  margin: 1rem 0 0 0; }

.luxury_section .luxury_carousel--details .luxury_img {
  height: 15rem;
  width: 23rem;
  object-fit: cover;
  border-radius: 0.3rem;
  margin: 0;
  padding: 0;
  text-decoration: none; }

.luxury_section .luxury_carousel--details #luxe-price {
  color: #fa9f42;
  font-size: 1.4rem; }

.luxury_section .luxury_carousel--details i {
  color: #fa9f42;
  font-size: 1.3rem; }

.luxury_section .luxury_carousel--details .luxury_carousel--info {
  margin: 0.5rem 0; }
  .luxury_section .luxury_carousel--details .luxury_carousel--info span {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #696969;
    font-weight: 500; }
    .luxury_section .luxury_carousel--details .luxury_carousel--info span:first-child {
      background-color: #5acfc9;
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem; }
    .luxury_section .luxury_carousel--details .luxury_carousel--info span:nth-child(3) {
      color: #8ad879; }

.luxury_section .luxury_carousel--details .luxury_carousel_about {
  margin: 0 0 0.3rem 0;
  width: 95%;
  height: 3rem; }
  .luxury_section .luxury_carousel--details .luxury_carousel_about span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f3533a;
    font-weight: 500;
    font-size: 1rem; }
    .luxury_section .luxury_carousel--details .luxury_carousel_about span:nth-child(2) {
      color: #8ad879; }

.luxury_section .show_more {
  margin: 2rem 0 0 0 !important;
  color: #696969;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease-in; }
  .luxury_section .show_more:hover {
    color: #f3533a; }

.beach_section .beach_section--inner {
  margin: 1rem 0 0 0; }

/*End's Here*/
footer {
  width: 100%;
  background-color: #f5f6f7;
  margin: 2rem 0 0 0; }
  footer .footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap; }
    footer .footer_inner h1 {
      font-size: 1rem;
      color: #f3533a; }
    footer .footer_inner .footer_list {
      margin: 1rem 0 1rem 0;
      height: auto; }
      footer .footer_inner .footer_list li {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none; }
        footer .footer_inner .footer_list li a {
          color: #696969;
          text-decoration: none;
          text-align: center;
          font-weight: 700;
          font-size: 0.9rem;
          transition: all 0.5s ease; }
          footer .footer_inner .footer_list li a:hover {
            color: #fa9f42; }
  footer .about_company--inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr auto !important;
    padding-bottom: 2rem;
    justify-items: flex-start; }
    footer .about_company--inner .about_text {
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-size: 1.2rem;
      color: #f3533a;
      text-decoration: none; }
    footer .about_company--inner .other {
      display: flex; }
      footer .about_company--inner .other a {
        padding: 0.3rem 1rem;
        text-align: center;
        border-radius: 0.3rem;
        color: #f3533a;
        text-decoration: none;
        font-weight: 600;
        transition: background-color 0.5s ease; }
        footer .about_company--inner .other a:first-child {
          margin-right: 0.5rem; }
        footer .about_company--inner .other a:hover {
          background-color: #8ad879; }

/*Login Form*/
.container-login100 {
  width: 100%;
  min-height: 85vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto; }
  .container-login100 .wrap-login100 {
    width: 28.15rem;
    background: #fff;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .container-login100 .login100-form {
    width: 100%;
    padding: 1.5rem; }
    .container-login100 .login100-form .social_login {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap; }
      .container-login100 .login100-form .social_login ._facebook {
        background-color: #4568b2;
        padding: 10px 0 !important;
        margin-right: 5px;
        color: #fff;
        margin: 0;
        padding: 0;
        text-decoration: none;
        margin-bottom: 0.5rem !important;
        border-radius: 0.3rem; }
      .container-login100 .login100-form .social_login ._google {
        background-color: #dd4c39;
        padding: 10px 0 !important;
        margin-right: 5px;
        color: #fff;
        border: 2px solid #dd4c39;
        margin: 0;
        padding: 0;
        text-decoration: none;
        margin-bottom: 0.5rem !important;
        border-radius: 0.3rem; }
      .container-login100 .login100-form .social_login .social_login--wrap {
        width: 100%;
        text-align: center;
        font-size: 1.1rem; }
        .container-login100 .login100-form .social_login .social_login--wrap .social_login--icons {
          margin-right: 0.5rem; }
    .container-login100 .login100-form .or {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0;
      align-items: center; }
      .container-login100 .login100-form .or .bar {
        flex: auto;
        border: none;
        height: 1px;
        background: #fa9f42; }
      .container-login100 .login100-form .or span {
        color: #f3533a;
        padding: 0rem 0.9rem; }
    .container-login100 .login100-form .__signup {
      border: 1px solid #8ad879;
      color: #fff;
      background-color: #8ad879;
      font-size: 1.1rem;
      letter-spacing: 1px;
      border-radius: 0.3rem;
      margin: 0.6rem 0 1.5rem 0;
      padding: 0.7rem 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      backface-visibility: hidden; }
      .container-login100 .login100-form .__signup:active {
        outline: none;
        transform: translateZ(-3px); }
  .container-login100 .login_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap; }
    .container-login100 .login_form .login_form--fields {
      width: 100%;
      display: block;
      padding: 0.7rem;
      margin: 0.5rem 0;
      border-radius: 0.3rem;
      border: 1px solid #fa9f42;
      color: #fff;
      font-size: 1rem;
      font-weight: 900; }
    .container-login100 .login_form .login_form--fields:active {
      outline: none;
      border: 1px solid #f3533a; }
    .container-login100 .login_form .login_form--fields:focus {
      outline: none;
      border: 1px solid #f3533a; }
    .container-login100 .login_form .login_form--btn {
      background-color: #8ad879;
      color: #fff;
      border: 1px solid #8ad879;
      font-size: 1.1rem;
      letter-spacing: 1px;
      border-radius: 0.3rem;
      margin: 0.6rem 0 0 0;
      padding: 0.7rem 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      /*  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
      transition: all 0.2s ease-in-out;
      backface-visibility: hidden; }
    .container-login100 .login_form .login_form--btn:active {
      outline: none;
      transform: translateZ(-3px); }
    .container-login100 .login_form .login_form--forgot {
      color: #5acfc9;
      font-weight: 500;
      font-size: 1.3rem;
      margin: 1rem 0;
      text-decoration: none; }
  .container-login100 .sign_up {
    margin: 1rem 0 0 0;
    display: inline-block;
    color: #696969; }
  .container-login100 .sign_up--link {
    color: #f3533a;
    text-decoration: none;
    margin-left: 0.3rem;
    font-weight: 600; }

/*Booking Page Css*/
.bodyWrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap; }
  .bodyWrapper .bodyWrapper--header {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f3533a;
    margin: 0;
    padding: 0;
    text-decoration: none; }
  .bodyWrapper .bodyWrapper--headerSub {
    font-size: 1rem;
    color: #fa9f42;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-bottom: 0.5rem !important; }
  .bodyWrapper #leftWrapper {
    flex: 3;
    border-right: 1px solid;
    padding: 0 1rem 0 0; }
    .bodyWrapper #leftWrapper .bodyWrapper--tags {
      display: inline-block;
      margin: 0.5rem 0; }
      .bodyWrapper #leftWrapper .bodyWrapper--tags li {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        padding: 0.3rem 0.5rem;
        border-radius: 0.3rem;
        margin: 0.3rem 0.2rem;
        transition: all 0.5s ease; }
        .bodyWrapper #leftWrapper .bodyWrapper--tags li a {
          margin: 0;
          padding: 0;
          text-decoration: none;
          text-decoration: none;
          color: #f3533a;
          font-weight: 500; }
    .bodyWrapper #leftWrapper .view_more {
      color: #8ad879;
      margin: 0;
      padding: 0;
      text-decoration: none;
      font-weight: 700;
      display: block; }
      .bodyWrapper #leftWrapper .view_more .view_moreIcon {
        font-size: 0.8rem; }
  .bodyWrapper .leftWrapperGap {
    border-bottom: 1px solid;
    margin: 0.5rem 0; }
  .bodyWrapper #rightWrapper {
    flex: 9;
    padding: 0 0 0 1rem; }
    .bodyWrapper #rightWrapper .rightWrapper--head {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      justify-content: space-between; }
    .bodyWrapper #rightWrapper .sortSelect {
      padding: 0.5rem 0.2rem;
      width: 14rem;
      margin-left: 5px;
      border: 2px solid #8ad879;
      text-align-last: left;
      font-size: 1rem;
      font-weight: 700;
      color: #f3533a; }
      .bodyWrapper #rightWrapper .sortSelect:focus {
        outline: none; }

.hotel__wrapper {
  margin: 1.5rem 0; }

.hotel__grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-items: flex-start;
  margin: 1rem 0 2rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid; }
  .hotel__grid .hotel__wrapper--left {
    width: 100%; }
    .hotel__grid .hotel__wrapper--left .hotel__images {
      height: 265px;
      max-width: 380px;
      width: 100%;
      object-fit: fill;
      border-radius: 0.3rem; }
  .hotel__grid .hotel__wrapper--right {
    width: 100%; }
    .hotel__grid .hotel__wrapper--right .hotel__wrapperHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap; }
      .hotel__grid .hotel__wrapper--right .hotel__wrapperHeader .hotel__wrapper--Header {
        font-size: 1.2rem;
        color: #f3533a;
        font-weight: 700; }
    .hotel__grid .hotel__wrapper--right .hotel__wrapper--subHeader {
      font-size: 1rem;
      color: #fa9f42;
      font-weight: 500;
      display: block; }
  .hotel__grid .hotel__listings .hotel__iconInfo {
    font-size: 0.9rem;
    color: #f3533a;
    font-weight: 500;
    border: 2px solid #fa9f42;
    padding: 0.2rem 0.8rem 0 0.8rem;
    text-align: center;
    border-radius: 0.3rem; }
  .hotel__grid .hotel__icons {
    font-size: 0.8rem;
    color: #8ad879; }
  .hotel__grid #ratings {
    margin: 0.5rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap; }
    .hotel__grid #ratings .star__ratings {
      background-color: #8ad879;
      padding: 0.1rem 0.3rem;
      border-radius: 0.3rem;
      margin: 0 1rem 0 0; }
      .hotel__grid #ratings .star__ratings .star__ratings--text {
        text-align: center;
        width: 100%;
        font-size: 0.9rem; }
        .hotel__grid #ratings .star__ratings .star__ratings--text .ratings__icon {
          font-size: 0.9rem;
          margin-left: 0.5rem; }
    .hotel__grid #ratings .total__ratings {
      margin: 0 1rem 0 0; }
    .hotel__grid #ratings .ratings__text {
      font-size: 0.9rem;
      font-weight: 700;
      color: #f3533a; }
  .hotel__grid #hotel__features {
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    grid-gap: 0.9rem;
    margin: 1rem 0; }
    .hotel__grid #hotel__features .features__text {
      color: #f3533a;
      font-size: 0.8rem;
      text-align: center;
      font-weight: 900; }
    .hotel__grid #hotel__features .feature__icons {
      font-size: 1rem;
      margin: 0 auto 0.2rem auto;
      display: block;
      text-align: center;
      color: #fa9f42; }
  .hotel__grid #pricing {
    margin: 1rem 0 0 0; }
    .hotel__grid #pricing .price__wrap {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: 0.5rem;
      align-items: center; }
      .hotel__grid #pricing .price__wrap .price__wrap--text {
        font-size: 1.5rem;
        font-weight: 700;
        color: #f3533a; }
        .hotel__grid #pricing .price__wrap .price__wrap--text .price__icons {
          font-size: 0.9rem; }
        .hotel__grid #pricing .price__wrap .price__wrap--text .price__strike {
          color: #fa9f42;
          margin: 0 0.3rem;
          font-size: 1rem; }
        .hotel__grid #pricing .price__wrap .price__wrap--text .price__off {
          color: #fa9f42;
          font-size: 1rem; }
        .hotel__grid #pricing .price__wrap .price__wrap--text .room__info {
          font-size: 0.8rem;
          color: #fa9f42;
          display: block; }
      .hotel__grid #pricing .price__wrap .view__details--btn {
        border: 2px solid #fa9f42;
        padding: 0.3rem 0.8rem;
        text-decoration: none;
        color: #f3533a;
        font-weight: 500;
        border-radius: 0.3rem; }
      .hotel__grid #pricing .price__wrap .book__now--btn {
        border: 2px solid #f3533a;
        background-color: #f3533a;
        padding: 0.3rem 0.8rem;
        text-decoration: none;
        border-radius: 0.3rem;
        font-weight: 500; }

/*End's Here*/
/*Check-In Page Css*/
.hotel__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; }
  .hotel__details #__left {
    width: 45rem; }
    .hotel__details #__left .hotel__slider .hotel__slider--image {
      height: 30rem !important;
      width: 100% !important;
      max-width: 45rem !important;
      height: auto;
      object-fit: fill !important;
      border-radius: 0.3rem; }
    .hotel__details #__left .hotel__nameWrapper .hotel__nameWrapper--Header {
      font-size: 1.5rem;
      display: block;
      color: #f3533a;
      margin: 0;
      padding: 0;
      text-decoration: none; }
      .hotel__details #__left .hotel__nameWrapper .hotel__nameWrapper--Header .hotel__nameWrapper--subHeader {
        font-size: 1.1rem;
        display: block;
        color: #fa9f42; }
  .hotel__details #__right {
    padding: 0 0 0 1rem; }
    .hotel__details #__right .hotel__checkoutWrapper {
      margin: 0 0 0.5rem 0; }
      .hotel__details #__right .hotel__checkoutWrapper #checkoutForm {
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-gap: 1rem; }
        .hotel__details #__right .hotel__checkoutWrapper #checkoutForm label {
          color: #f3533a;
          font-size: 1.1rem; }
        .hotel__details #__right .hotel__checkoutWrapper #checkoutForm .checkoutForm--fields {
          padding: 0.5rem 1rem;
          border-radius: 0.3rem;
          width: 100% !important;
          border: 1px solid;
          font-size: 1rem !important; }
          .hotel__details #__right .hotel__checkoutWrapper #checkoutForm .checkoutForm--fields:focus {
            border: 1px solid #8ad879;
            outline: none; }
        .hotel__details #__right .hotel__checkoutWrapper #checkoutForm .checkoutForm--select {
          padding: 0.5rem 0.8rem;
          border-radius: 0.3rem;
          width: 100% !important;
          border: 1px solid;
          font-size: 1rem !important; }
          .hotel__details #__right .hotel__checkoutWrapper #checkoutForm .checkoutForm--select:focus {
            border: 1px solid #8ad879;
            outline: none; }
    .hotel__details #__right .booking__detailsWrapper ul {
      list-style-type: none; }
    .hotel__details #__right .booking__detailsWrapper .accordion {
      width: 100%;
      margin: 0;
      background: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .hotel__details #__right .booking__detailsWrapper .accordion .link {
      cursor: pointer;
      display: block;
      padding: 5px 10px 5px 0;
      color: #f3533a;
      font-size: 1rem;
      font-weight: 700;
      border-bottom: 1px solid #ccc;
      position: relative;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .hotel__details #__right .booking__detailsWrapper .accordion li:last-child .link {
      border-bottom: 0; }
    .hotel__details #__right .booking__detailsWrapper .accordion li i {
      position: absolute;
      top: 16px;
      left: 12px;
      font-size: 18px;
      color: #595959;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .hotel__details #__right .booking__detailsWrapper .accordion li i.fa-chevron-down {
      right: 0;
      left: auto;
      font-size: 1rem; }
    .hotel__details #__right .booking__detailsWrapper .accordion li.open .link {
      color: #f3533a; }
    .hotel__details #__right .booking__detailsWrapper .accordion li.open i {
      color: #f3533a; }
    .hotel__details #__right .booking__detailsWrapper .accordion li.open i.fa-chevron-down {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .hotel__details #__right .booking__detailsWrapper .submenu {
      display: none;
      padding: 0.5rem 0; }
      .hotel__details #__right .booking__detailsWrapper .submenu .room__form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.6rem;
        align-items: center; }
        .hotel__details #__right .booking__detailsWrapper .submenu .room__form .room_form--fields {
          width: 100%;
          display: block;
          padding: 0.7rem;
          border-radius: 0.3rem;
          border: 1px solid;
          color: #fa9f42;
          font-size: 0.9rem;
          font-weight: 600; }
          .hotel__details #__right .booking__detailsWrapper .submenu .room__form .room_form--fields:focus {
            border: 1px solid #8ad879;
            outline: none; }
    .hotel__details #__right .bulk__booking {
      box-shadow: 0 0px 2px 0 #fa9f42;
      border: solid 1px;
      border-radius: 0.3rem;
      padding: 0.8rem 1rem; }
      .hotel__details #__right .bulk__booking .bulk__booking--header {
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-align: left;
        color: #f3533a; }
      .hotel__details #__right .bulk__booking .bulk__bookingForm {
        display: grid;
        grid-template-columns: 1fr 60px 1fr;
        grid-gap: 0.6rem;
        align-items: center;
        margin: 0.5rem 0; }
        .hotel__details #__right .bulk__booking .bulk__bookingForm .bulk__bookingForm--fields {
          padding: 0.7rem;
          border-radius: 0.3rem;
          border: 1px solid;
          color: #fa9f42;
          font-size: 1rem;
          font-weight: 600; }
          .hotel__details #__right .bulk__booking .bulk__bookingForm .bulk__bookingForm--fields:focus {
            border: 1px solid #8ad879;
            outline: none; }
    .hotel__details #__right .breakfast__wrapper {
      margin: 1.5rem 0;
      box-shadow: 0 0px 2px 0 #fa9f42;
      border: solid 1px;
      border-radius: 0.3rem; }
      .hotel__details #__right .breakfast__wrapper .breafast__inner {
        display: grid;
        grid-template-columns: 5rem 1fr auto;
        align-items: center;
        grid-gap: 0.6rem;
        padding: 0.8rem 1rem; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breakfast__innerImg img {
          height: 5rem;
          margin: 0;
          padding: 0;
          text-decoration: none;
          max-width: 100%; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breafast__innerHeader h1 {
          font-size: 1.3rem;
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #f3533a;
          font-weight: 900; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breafast__innerHeader h2 {
          font-size: 1rem;
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #fa9f42;
          font-weight: 600; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breafast__innerHeader .tooltip {
          position: relative;
          display: inline-block;
          font-size: 1rem;
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #fa9f42;
          font-weight: 600;
          cursor: pointer; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breafast__innerHeader .tooltip .tooltiptext {
          visibility: hidden;
          width: 20rem;
          background-color: #fa9f42;
          text-align: center;
          border-radius: 0.3rem;
          padding: 0.5rem;
          margin-left: -60px;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          font-size: 0.8rem;
          font-weight: 500;
          text-align: justify; }
        .hotel__details #__right .breakfast__wrapper .breafast__inner .breafast__innerHeader .tooltip:hover .tooltiptext {
          visibility: visible; }
      .hotel__details #__right .breakfast__wrapper .checkbox {
        display: inline-block;
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
      .hotel__details #__right .breakfast__wrapper .checkbox label {
        cursor: pointer;
        padding-left: 0; }
      .hotel__details #__right .breakfast__wrapper .checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        margin: 0;
        z-index: -1;
        width: 0;
        height: 0;
        overflow: hidden;
        left: 0;
        pointer-events: none; }
      .hotel__details #__right .breakfast__wrapper .checkbox .checkbox-material {
        vertical-align: middle;
        position: relative;
        top: 3px; }
      .hotel__details #__right .breakfast__wrapper .checkbox .checkbox-material:before {
        position: absolute;
        left: 8px;
        top: 2px;
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        height: 4px;
        width: 4px;
        border-radius: 100%;
        z-index: 1;
        opacity: 0;
        margin: 0; }
      .hotel__details #__right .breakfast__wrapper .checkbox .checkbox-material .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid;
        border-radius: 2px;
        overflow: hidden;
        z-index: 1; }
      .hotel__details #__right .breakfast__wrapper .checkbox .checkbox-material .check:before {
        position: absolute;
        content: "";
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        margin-top: -4px;
        margin-left: 6px;
        width: 0;
        height: 0;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
        -webkit-animation: checkbox-off 0.3s forwards ease-out;
        animation: checkbox-off 0.3s forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox input[type="checkbox"]:focus + .checkbox-material .check:after {
        opacity: 0.2; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"]:checked
+ .checkbox-material
.check:before {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        -webkit-animation: checkbox-on 0.3s forwards ease-out;
        animation: checkbox-on 0.3s forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"]:not(:checked)
+ .checkbox-material:before {
        -webkit-animation: rippleOff 700ms forwards ease-out;
        animation: rippleOff 700ms forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox input[type="checkbox"]:checked + .checkbox-material:before {
        -webkit-animation: rippleOn 700ms forwards ease-out;
        animation: rippleOn 700ms forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"]:not(:checked)
+ .checkbox-material
.check:after {
        -webkit-animation: rippleOff 700ms forwards ease-out;
        animation: rippleOff 700ms forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"]:checked
+ .checkbox-material
.check:after {
        -webkit-animation: rippleOn 700ms forwards ease-out;
        animation: rippleOn 700ms forwards ease-out; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"][disabled]:not(:checked)
~ .checkbox-material
.check:before,
      .hotel__details #__right .breakfast__wrapper .checkbox input[type="checkbox"][disabled] + .circle {
        opacity: 0.5; }
      .hotel__details #__right .breakfast__wrapper .checkbox
input[type="checkbox"][disabled]
+ .checkbox-material
.check:after {
        background-color: rgba(0, 0, 0, 0.84);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .hotel__details .book__room {
    box-shadow: 0 0px 2px 0 #fa9f42;
    border: solid 1px;
    border-radius: 0.3rem;
    margin: 1.5rem 0;
    padding: 0.8rem 1rem; }
    .hotel__details .book__room .book__room--info {
      font-size: 1.4rem;
      color: #f3533a;
      margin: 0;
      padding: 0;
      text-decoration: none; }
    .hotel__details .book__room .book__room--price {
      font-size: 1.2rem;
      color: #fa9f42;
      margin: 0;
      padding: 0;
      text-decoration: none; }
      .hotel__details .book__room .book__room--price #main__price {
        margin: 0;
        padding: 0;
        text-decoration: none;
        margin-right: 1rem !important; }
      .hotel__details .book__room .book__room--price #cutoff__price {
        text-decoration: line-through !important;
        margin: 0;
        padding: 0;
        text-decoration: none;
        margin-right: 1rem !important;
        color: #f3533a; }
      .hotel__details .book__room .book__room--price #percent__off {
        margin: 0;
        padding: 0;
        text-decoration: none; }
    .hotel__details .book__room .book__room--tax {
      font-size: 1rem;
      color: #8ad879;
      margin: 0;
      padding: 0;
      text-decoration: none;
      border-bottom: 1px dashed #f3533a;
      padding-bottom: 0.8rem !important; }
    .hotel__details .book__room .coupon__text {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #f3533a;
      padding: 0.3rem 0 0 0.3rem !important; }
    .hotel__details .book__room .book__btn {
      margin: 0.6rem 0;
      display: block;
      width: 100%;
      background-color: #f3533a;
      padding: 1rem 0;
      text-align: center;
      text-decoration: none;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      font-size: 1.1rem;
      transition: all 0.3s ease-in-out; }
      .hotel__details .book__room .book__btn:hover,
      .hotel__details .book__room .book__btn :active {
        background-color: #fa9f42;
        outline: none; }

/*End's Here*/
/*Media Query*/
@media screen and (max-width: 25rem) and (min-width: 0) {
  .gutter {
    margin: 0 0.8rem; }
  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important; }
  .about_section--left {
    width: 100%; }
  .section__header--main {
    font-size: 2rem; }
  .section__header--sub {
    font-size: 1rem; } }

/*Checkout Page Css*/
.detail-head {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: black;
  font-size: 1.4rem;
  padding: 0.8rem;
  background: #f9f9fb; }

.back-link {
  color: #fa9f42;
  font-weight: 700;
  padding: 1rem 0;
  display: block;
  font-size: 1.2rem; }

.back-link:hover {
  color: #f3533a;
  text-decoration: none; }

.booking-hotel-name {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #f3533a;
  font-weight: 700; }

.booking-stay {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fa9f42;
  font-weight: 700; }

.booking-img {
  width: 4rem;
  border-radius: 0.2rem;
  text-align: right;
  display: block;
  margin: 0; }

.booking-icon {
  color: #fa9f42; }

.booking-date {
  color: #f3533a;
  font-size: 0.9rem;
  font-weight: 600; }

.booking-room-detail {
  color: #fa9f42;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  display: block; }

.booking-price-detail {
  color: #f3533a;
  font-size: 0.9rem;
  font-weight: 600; }

.booking-price {
  color: #fa9f42;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  display: block; }

.final-price {
  color: #f3533a;
  font-size: 1.2rem;
  font-weight: 600;
  display: block; }

.tax-span {
  color: #fa9f42;
  font-size: 0.9rem; }

.final-booking-price {
  color: #f3533a;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
  display: block; }

.checkout-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.6rem;
  margin: 1rem 0; }
  .checkout-group .checkout-group-btn {
    flex: 1;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 0.3rem;
    font-weight: 500; }
  .checkout-group .pay-now-btn {
    background-color: #fff;
    border: 2px solid #fa9f42;
    color: #f3533a; }
  .checkout-group .checkout-btn {
    background-color: #f3533a;
    border: 2px solid #f3533a; }

@media screen and (max-width: 43.75rem) and (min-width: 25.1rem) {
  .gutter {
    margin: 0 0.8rem; }
  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important; }
    .about_section .about_section--left {
      width: 100%; }
    .about_section .section__header--main {
      font-size: 2rem; }
    .about_section .section__header--sub {
      font-size: 1rem; } }

/*End's Here*/
/*Animation  Section*/
@keyframes about_section--right {
  0% {
    transform: rotate(0) scale(1) translateY(100px);
    opacity: 0; }
  50% {
    transform: rotate(0) scale(1) translateY(50px);
    opacity: 0; }
  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1; } }

.fromBottom {
  animation: about_section--right 1.5s forwards 0s linear; }

/*End's Here*/
