$font: Google Sans, Arial, sans-serif;

$colors: (
  "primary": #2a2d30,
  "secondary": #363636,
  "ternary": #e74315,
  "accent": #484848,
  "light": #ccc,
  "text_light": #fff
);

@mixin defaultStyling {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@mixin flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  justify-items: center;
  align-items: center;
}

@mixin sectionHeader {
  font-size: 2rem;
  font-weight: 700;
  @include defaultStyling();
}

/*Default CSS Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: map-get($map: $colors, $key: accent);
}

img {
  vertical-align: middle !important;
}

._gap {
  border: 0.5px solid map-get($map: $colors, $key: light) !important;
}

.pd {
  padding: 2rem 0;
}

.pageWrapper {
  max-width: 71.25rem;
  margin: auto;
}

.section_span {
  @include defaultStyling();
  font-size: 1.02rem;
  font-weight: 600;
  color: map-get($map: $colors, $key: primary);
}

.secondary_icons {
  font-size: 0.8rem;
  padding-right: 0.2rem;
}

.carousel_details {
  position: relative;

  .carousel_img {
    height: 20rem;
    width: 13.5rem;
    object-fit: cover;
    border-radius: 0.3rem;
  }

  .carousel_info {
    position: absolute;
    bottom: 0;
    padding-top: 2rem;
    text-align: center;
    color: #f5f6f7;
    background-image: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 0) 5%,
      rgb(0, 0, 0) 100%
    ) !important;
    height: 6.5rem !important;
    width: 13.5rem !important;
    border-radius: 0.3rem;

    h1 {
      @include defaultStyling();
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }
}

.social_icons {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 100px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: map-get($map: $colors, $key: ternary);
    color: map-get($map: $colors, $key: text_light);
  }
}

hr {
  border: 0.5px solid map-get($map: $colors, $key: text_light);
}

/*End's Here*/

/*Hero Section Styling*/
.header {
  background-image: linear-gradient(to right, #2a2d30b3, #363636b3),
    url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/*End's Here*/

/*Navigation Section Styling*/
nav {
  width: 100%;
  height: 5rem;
  padding: 0.8rem 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;

  .navigation--logo {
    color: #f5f6f7;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .navigation--list {
    @include flexRow();

    li {
      @include defaultStyling();
      padding: 0 1rem;
      list-style: none;
      position: relative;

      a {
        font-size: 1rem;
        color: map-get($map: $colors, $key: text_light);
        @include defaultStyling();

        &::after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 4px;
          left: 50%;
          top: 3rem;
          position: absolute;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

/*End's Here*/

/*About Section*/
.about_section {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 5rem;
  align-items: center;
  height: 75vh;

  .section__header--main {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0;
  }

  .section__header--sub {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0;
  }

  .section__header--btn {
    background-color: #e74315;
    color: #f5f6f7;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin: 2rem 0 0 0;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
  }

  .section__header--btn:hover {
    transform: translateY(-3px) scale(1.03);
  }

  .section__header--btn:active {
    outline: none;
    transform: translateZ(-3px);
  }

  .section__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    height: 19rem;
    width: 23rem;
    padding: 1rem;
  }

  .section__form--fields {
    width: 100%;
    display: block;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 1px solid map-get($map: $colors, $key: light);
    color: map-get($map: $colors, $key: accent);
    font-size: 1rem;
    font-weight: 900;
  }

  .section__form--fields:active {
    outline: none;
    border: 1px solid #e74315;
  }

  .section__form--fields:focus {
    outline: none;
    border: 1px solid #e74315;
  }

  .section__form--btn {
    background-color: #e74315;
    color: #f5f6f7;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    margin: 0.6rem 0 0 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
  }

  .section__form--btn:hover {
    transform: translateY(-3px) scale(1.03);
  }

  .section__form--btn:active {
    outline: none;
    transform: translateZ(-3px);
  }
}

/*End's Here*/

/*Explore Section*/
.explore_section {
  .section_header {
    @include sectionHeader();
  }

  .explore_section--inner {
    @include flexRow();
    justify-content: space-between;
    width: 100%;
  }

  .explore_section--innerWrap {
    margin: 1rem 0 0 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    @include grid();
    grid-template-columns: 7.5rem 1fr;
    grid-gap: 0;
    align-items: center;
    transition: all 0.5s ease-in;
    cursor: pointer;

    &:hover {
      background-color: transparent !important;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px !important;
    }

    .explore_img {
      height: 5rem;
      width: auto;
      object-fit: fill;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    .innerHeader {
      font-size: 1rem;
      @include defaultStyling();
      padding: 1rem;
    }
  }
}

/*End's Here*/

/*Recommended Section*/
.recommended_section {
  .recommended_section--inner {
    margin: 1rem 0 0 0;
  }
}

/*End's Here*/

/*Luxury Section*/
.luxury_section {
  .luxury_section--inner {
    margin: 1rem 0 0 0;
  }

  .luxury_carousel--details {
    .luxury_img {
      height: 15rem;
      width: 23rem;
      object-fit: cover;
      border-radius: 0.3rem;
      @include defaultStyling();
    }

    .luxury_carousel--info {
      margin: 0.5rem 0;

      span {
        font-size: 1rem;
        @include defaultStyling();
        color: map-get($map: $colors, $key: secondary);
        font-weight: 700;

        &:first-child {
          background-color: map-get($map: $colors, $key: ternary);
          color: map-get($map: $colors, $key: text_light);
          padding: 0.2rem 0.5rem;
          border-radius: 0.3rem;
          font-weight: 400;
        }

        &:nth-child(3) {
          color: map-get($map: $colors, $key: ternary);
        }
      }
    }

    .luxury_carousel_about {
      margin: 0 0 0.3rem 0;
      width: 95%;
      height: 3rem;

      span {
        @include defaultStyling();
        color: map-get($map: $colors, $key: primary);
        font-weight: 700;
        font-size: 1rem;

        &:nth-child(2) {
          color: map-get($map: $colors, $key: ternary);
        }
      }
    }
  }

  .show_more {
    margin: 2rem 0 0 0 !important;
    color: map-get($map: $colors, $key: ternary);
    font-size: 1.1rem;
    @include defaultStyling();
    display: block;
    font-weight: 700;
    position: relative;
  }
}

.beach_section {
  .beach_section--inner {
    margin: 1rem 0 0 0;
  }
}

/*End's Here*/

footer {
  width: 100%;
  background-color: map-get($map: $colors, $key: light);

  .footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

    h1 {
      font-size: 1rem;
      color: map-get($map: $colors, $key: primary);
    }

    .footer_list {
      margin: 1rem 0 1rem 0;
      height: auto;

      li {
        @include defaultStyling();
        list-style: none;

        a {
          color: map-get($map: $colors, $key: secondary);
          text-decoration: none;
          text-align: center;
          font-weight: 700;
          font-size: 0.9rem;
          transition: all 0.5s ease;

          &:hover {
            color: map-get($map: $colors, $key: ternary);
          }
        }
      }
    }
  }

  .about_company--inner {
    @include grid();
    grid-template-columns: 1fr auto !important;
    padding-bottom: 2rem;
    justify-items: flex-start;

    .about_text {
      @include defaultStyling();
      font-size: 1.2rem;
      color: map-get($map: $colors, $key: primary);
      text-decoration: none;
    }

    .other {
      display: block;
      width: 100%;

      a {
        background-color: map-get($map: $colors, $key: text_light);
        padding: 0.3rem 1rem;
        text-align: center;
        border-radius: 0.3rem;
        color: map-get($map: $colors, $key: primary);
        text-decoration: none;
        font-weight: 600;
        transition: background-color 0.5s ease;

        &:hover {
          background-color: map-get($map: $colors, $key: ternary);
          color: map-get($map: $colors, $key: text_light);
        }
      }
    }
  }
}

/*Login Form*/
.container-login100 {
  width: 100%;
  min-height: 85vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;

  .wrap-login100 {
    width: 28.15rem;
    background: #fff;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .login100-form {
    width: 100%;
    padding: 1.5rem;

    .social_login {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;

      ._facebook {
        background-color: #4568b2;
        padding: 10px 0 !important;
        margin-right: 5px;
        color: map-get($map: $colors, $key: text_light);
        @include defaultStyling();
        margin-bottom: 0.5rem !important;
        border-radius: 0.3rem;
      }

      ._google {
        background-color: map-get($map: $colors, $key: text_light);
        padding: 10px 0 !important;
        margin-right: 5px;
        color: map-get($map: $colors, $key: primary);
        border: 2px solid map-get($map: $colors, $key: secondary);
        @include defaultStyling();
        margin-bottom: 0.5rem !important;
        border-radius: 0.3rem;
      }

      .social_login--wrap {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;

        .social_login--icons {
          margin-right: 0.5rem;
        }
      }
    }
    .or {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0;
      align-items: center;

      .bar {
        flex: auto;
        border: none;
        height: 1px;
        background: map-get($map: $colors, $key: secondary);
      }

      span {
        color: map-get($map: $colors, $key: primary);
        padding: 0rem 0.9rem;
      }
    }
  }

  .login_form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;

    .login_form--fields {
      width: 100%;
      display: block;
      padding: 0.7rem;
      margin: 0.5rem 0;
      border-radius: 0.3rem;
      border: 1px solid map-get($map: $colors, $key: light);
      color: map-get($map: $colors, $key: accent);
      font-size: 1rem;
      font-weight: 900;
    }

    .login_form--fields:active {
      outline: none;
      border: 1px solid #e74315;
    }

    .login_form--fields:focus {
      outline: none;
      border: 1px solid #e74315;
    }

    .login_form--btn {
      background-color: #e74315;
      color: #f5f6f7;
      font-size: 1.1rem;
      letter-spacing: 1px;
      border-radius: 0.3rem;
      margin: 0.6rem 0 0 0;
      padding: 0.7rem 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      /*  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
      transition: all 0.2s ease-in-out;
      backface-visibility: hidden;
    }

    .login_form--btn:hover {
      transform: translateY(-3px) scale(1.03);
    }

    .login_form--btn:active {
      outline: none;
      transform: translateZ(-3px);
    }

    .login_form--forgot {
      color: map-get($map: $colors, $key: primary);
      font-weight: 600;
      margin: 1rem 0;
      text-align: right;
      text-decoration: none;
    }
  }
  .sign_up {
    margin: 1rem 0 0 0;
    display: inline-block;
  }

  .sign_up--link {
    color: map-get($map: $colors, $key: ternary);
    text-decoration: none;
    margin-left: 0.3rem;
    font-weight: 600;
  }
}

/*Media Query*/
@media screen and (max-width: 25rem) and (min-width: 0) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;
  }

  .about_section--left {
    width: 100%;
  }

  .section__header--main {
    font-size: 2rem;
  }

  .section__header--sub {
    font-size: 1rem;
  }
}

@media screen and (max-width: 43.75rem) and (min-width: 25.1rem) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;

    .about_section--left {
      width: 100%;
    }

    .section__header--main {
      font-size: 2rem;
    }

    .section__header--sub {
      font-size: 1rem;
    }
  }
}

/*End's Here*/

/*Animation  Section*/
.fromLeft {
  animation: logoAnimation 1.5s forwards 0s linear;
}

@keyframes about_section--left {
  0% {
    transform: rotate(0) scale(1) translateY(-100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromTop {
  animation: about_section--left 1.5s forwards 0s linear;
}

@keyframes about_section--right {
  0% {
    transform: rotate(0) scale(1) translateY(100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromBottom {
  animation: about_section--right 1.5s forwards 0s linear;
}

/*End's Here*/
