@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

$font: "DM Sans", sans-serif;

$colors: (
  "primary": #2a2d30,
  "secondary": #363636,
  "ternary": #e74315,
  "accent": #484848
);

@mixin defaultStyling {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

@mixin flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  justify-items: center;
  align-items: center;
}

@mixin sectionHeader {
  font-size: 2rem;
  font-weight: 700;
  @include defaultStyling();
}

@mixin pageWrapper {
  max-width: 71.25rem;
  margin: auto;
}

/*Default CSS Styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: map-get($map: $colors, $key: accent);
}

.pd {
  padding: 2rem 0;
}
/*End's Here*/

/*Hero Section Styling*/
.header {
  background-image: linear-gradient(to right, #2a2d30b3, #363636b3),
    url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
} /*End's Here*/

/*Navigation Section Styling*/
nav {
  width: 100%;
  height: 5rem;
  padding: 0.8rem 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: auto;

  .navigation--logo {
    color: #f5f6f7;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .navigation--menu img {
    height: 3.5rem;
    transition: all 0.5s ease;
  }

  .navigation--menu img:hover {
    transform: scale(1.3);
  }
} /*End's Here*/

/*About Section*/
.about_section {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 5rem;
  align-items: center;
  height: 75vh;
  @include pageWrapper();

  .section__header--main {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0;
  }

  .section__header--sub {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: #f5f6f7;
    margin: 0;
    padding: 0;
  }

  .section__header--btn {
    background-color: #e74315;
    color: #f5f6f7;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin: 2rem 0 0 0;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
  }

  .section__header--btn:hover {
    transform: translateY(-3px) scale(1.03);
  }

  .section__header--btn:active {
    outline: none;
    transform: translateZ(-3px);
  }

  .section__form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    height: 19rem;
    width: 23rem;
    padding: 1rem;
  }

  .section__form--fields {
    width: 100%;
    display: block;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 2px solid map-get($map: $colors, $key: accent);
    color: map-get($map: $colors, $key: accent);
    font-size: 1rem;
    font-weight: 900;
  }

  .section__form--fields:active {
    outline: none;
    border: 2px solid #e74315;
  }

  .section__form--fields:focus {
    outline: none;
    border: 2px solid #e74315;
  }

  .section__form--btn {
    background-color: #e74315;
    color: #f5f6f7;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    margin: 0.6rem 0 0 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
  }
  .section__form--btn:hover {
    transform: translateY(-3px) scale(1.03);
  }

  .section__form--btn:active {
    outline: none;
    transform: translateZ(-3px);
  }
}
/*End's Here*/

/*Explore Section*/
.explore_section {
  @include pageWrapper();

  .section_header {
    @include sectionHeader();
  }

  .explore_section--inner {
    @include flexRow();
    justify-content: space-between;
    width: 100%;
  }

  .explore_section--innerWrap {
    margin: 1rem 0 0 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    @include grid();
    grid-template-columns: 7.5rem 1fr;
    grid-gap: 0;
    align-items: center;
    transition: all 0.5s ease-in;
    cursor: pointer;

    &:hover {
      background-color: transparent !important;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px !important;
    }

    .explore_img {
      height: 5rem;
      width: auto;
      object-fit: fill;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    .innerHeader {
      font-size: 1rem;
      @include defaultStyling();
      padding: 1rem;
    }
  }
}
/*End's Here*/

/*Recommended Section*/
.recommended_section {
  @include pageWrapper();

  .recommended_section--inner {
    margin: 1rem 0 0 0;

    .carousel_details {
      position: relative;

      .carousel_img {
        height: 22rem;
        width: 23rem;
        object-fit: cover;
        border-radius: 0.3rem;
      }

      .carousel_info {
        position: absolute;
        bottom: 0;
        padding-top: 3rem;
        text-align: center;
        color: #f5f6f7;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 20%,
          rgb(0, 0, 0) 100%
        ) !important;
        height: 8rem !important;
        width: 23rem !important;
        border-radius: 0.3rem;

        h1 {
          @include defaultStyling();
          font-size: 1.5rem;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/*End's Here*/

/*Media Query*/
@media screen and (max-width: 25rem) and (min-width: 0) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;
  }

  .about_section--left {
    width: 100%;
  }

  .section__header--main {
    font-size: 2rem;
  }

  .section__header--sub {
    font-size: 1rem;
  }
}

@media screen and (max-width: 43.75rem) and (min-width: 25.1rem) {
  .gutter {
    margin: 0 0.8rem;
  }

  .about_section {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
    flex-flow: column wrap !important;
    height: 90vh !important;

    .about_section--left {
      width: 100%;
    }

    .section__header--main {
      font-size: 2rem;
    }

    .section__header--sub {
      font-size: 1rem;
    }
  }
}
/*End's Here*/

/*Animation  Section*/
@keyframes menuAnimation {
  0% {
    transform: rotate(0) scale(1) translateX(50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateX(0);
  }
}

.fromRight {
  animation: menuAnimation 1.5s forwards 0s linear;
}

@keyframes logoAnimation {
  0% {
    transform: rotate(0) scale(1) translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateX(0);
  }
}

.fromLeft {
  animation: logoAnimation 1.5s forwards 0s linear;
}

@keyframes about_section--left {
  0% {
    transform: rotate(0) scale(1) translateY(-100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromTop {
  animation: about_section--left 1.5s forwards 0s linear;
}

@keyframes about_section--right {
  0% {
    transform: rotate(0) scale(1) translateY(100px);
    opacity: 0;
  }

  50% {
    transform: rotate(0) scale(1) translateY(50px);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1) translateY(0);
    opacity: 1;
  }
}

.fromBottom {
  animation: about_section--right 1.5s forwards 0s linear;
}
/*End's Here*/
